name: profile_managemenr
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  firebase_core: ^3.6.0          # Updated from ^2.24.0
  cloud_firestore: ^5.4.4        # Updated from ^4.14.0
  firebase_auth: ^5.3.1           # Updated from ^4.16.0
  firebase_storage: ^12.3.4       # Updated from ^11.6.0
  image_picker: ^1.0.4        
  permission_handler: ^11.3.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - lib/widgets/CampusClosetLogo.png